body {
    background: rgb(238, 241, 238);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    position: absolute;
    width: 1000px;
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; 
    font-size: 15px;
    margin-top: -50px;
}

#canvas1 {
    position: relative;
    width: 1000px;
    height: 700px;
}
#slider{
    width: 100%;
    margin-top: -20px;
    border-color: black;
}
p {
    color: blueviolet;
    font-size: 20px;
}
button {
    background-color: blueviolet;
    color: aliceblue;
    margin-bottom: 10px;
}


